{
  "printWidth": 100,
  "quoteProps": "consistent",
  "overrides": [
    { "files": [".prettierrc", ".eslintrc.json", "*.json"], "options": { "parser": "json" } },
    { "files": [".editorconfig"], "options": { "parser": "yaml" } }
  ]
}
